@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto:ital,wght@0,700;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish, sans-serif;
}
.navbar{
  background-color: #060000 !important;
}
.navbar-brand{
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  color: rgb(4, 4, 4);
}
.navbar-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navbar a{
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(10, 9, 10);
  text-decoration: none;
  text-transform: capitalize;

}

.selected{
  font-weight: bold;
  
   border-bottom: 1px solid #0b0b0b;
}

.navbar a:hover{
  color: #101011;
}
@media (max-width: 992px){
  .navbar-brand{
    font-size: 1.5rem !important;
  }
}

#header{
  width: 100%;
  height: 80vh;
  margin: top 70px;
  display: flex;
  align-items: center;
}

#header h1{
  margin:0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}
#header .brand-name{
  color: #3498db
}

/* #header .brand-name:active{
  color: #3498db
}
#header .brand-name:focus{
  color: #3498db
}
#header .brand-name:visited{
  color: #100cef
} */
#header h2{
  color: #484848;
  font-size: 24px;
}

#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}
#header .btn-get-started:hover{
  background-color: #3498db;
  color: #0f0e0e;
  
}
.header-img{
  text-align: right;
}
#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down{
  from{
    transform: translateY(10px);
  }
  
  to{
    transform: translateY(-8px);
  }
}
